body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


h1 {
    color: #808080;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
    font-size: 72px;
}



.candle-1 {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 50px;
    height: 100px;
    background-color: #8B4513;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.candle-2 {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 50px;
    height: 100px;
    background-color: #8B4513;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.candle-3 {
    position: absolute;
    top: 35%;
    left: 60%;
    width: 50px;
    height: 100px;
    background-color: #8B4513;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.candle-flame {
    position: absolute;
    top: -40px;
    left: 18px;
    width: 15px;
    height: 40px;
    background: radial-gradient(circle at center, #ffcc00, #ff6600);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    animation: flicker 1s infinite;
}

.candle-flame .flame-light {
    position: absolute;
    top: -75%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at center, #ffff99, #ffcc00);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: translateX(-50%);
    opacity: 0.1;
}

@keyframes flicker {

    0%,
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }

    50% {
        transform: scale(1.1) translateY(-5px);
        opacity: 0.8;
    }
}

.cake-body {
    position: absolute;
    top: 49%;
    left: 35%;
    width: 500px;
    height: 200px;
    background-color: #973787;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.cake-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 50px;
    background-color: #FF69B4;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.cake-heart-1 {
    width: 70px;
    height: 70px;
    background-color: #FF1493;
    position: relative;
    top: 45%;
    left: 15%;
    transform: rotate(-45deg);
}

.cake-heart-2 {
    width: 70px;
    height: 70px;
    background-color: #FF1493;
    position: relative;
    top: 10%;
    left: 45%;
    transform: rotate(-45deg);
}

.cake-heart-3 {
    width: 70px;
    height: 70px;
    background-color: #FF1493;
    position: relative;
    top: -25%;
    left: 75%;
    transform: rotate(-45deg);
}

.cake-heart-1::before,
.cake-heart-2::before,
.cake-heart-3::before {
    content: "";
    width: 70px;
    height: 70px;
    background-color: #FF1493;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 0;
}

.cake-heart-1::after,
.cake-heart-2::after,
.cake-heart-3::after {
    content: "";
    width: 70px;
    height: 70px;
    background-color: #FF1493;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 35px;
}